<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #0074c7;">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('app_home') }}" style="color: #f1f8fc;">
            <img src="{{ asset('images/logo.jpeg') }}" alt="Logo" width="100" height="auto">
            E-learning Knowledge
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('catalog') }}" style="color: #f1f8fc;">Catalogue</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                {% if app.user %}
                     <li class="nav-item">
                        <a class="nav-link" href="{{ path('user_index') }}" style="color: #f1f8fc;">Mon Profil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_logout') }}" style="color: #f1f8fc;">Déconnexion</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_login') }}" style="color: #f1f8fc;">Connexion</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_register') }}" style="color: #f1f8fc;">S'inscrire</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
