{% extends 'base_admin.html.twig' %}

{% block title %}Modifier la Leçon{% endblock %}

{% block admin_content %}
    <h1>Modifier la Leçon</h1>

    {{ form_start(form) }}
        {{ form_row(form.title) }}
        {{ form_row(form.number) }}
        {{ form_row(form.course) }}
        {{ form_row(form.price) }}
        <button class="btn btn-primary">Enregistrer</button>
    {{ form_end(form) }}

    <a href="{{ path('admin_lesson_index') }}" class="btn btn-secondary">Retour à la liste des leçons</a>
{% endblock %}
