{% extends 'base_admin.html.twig' %}

{% block title %}Ajouter une nouvelle Leçon{% endblock %}

{% block admin_content %}
    <div class="container mt-4">
        <h1 class="mb-4">Ajouter une nouvelle Leçon</h1>

        {{ form_start(form) }}
        
        <!-- Form fields -->
        <div class="mb-3">
            {{ form_row(form.title) }}
        </div>
        <div class="mb-3">
            {{ form_row(form.price) }}
        </div>
        <div class="mb-3">
            {{ form_row(form.course) }}
        </div>

        <!-- Contents (Dynamic content) -->
        <div class="mb-3">
            <div id="lesson_contents" data-prototype="{{ form_row(form.contents.vars.prototype)|e('html') }}">
                {{ form_widget(form.contents) }}
            </div>
        </div>

        <!-- Add new content button -->
        <div class="mb-3">
            <button type="button" id="add-content" class="btn btn-outline-primary">Ajouter une partie de contenu</button>
        </div>

        <!-- Submit Button -->
        <div class="mb-3">
            <button class="btn btn-primary">Enregistrer</button>
        </div>

        {{ form_end(form) }}

        <!-- Back to lessons list -->
        <div class="mt-3">
            <a href="{{ path('app_lesson_index') }}" class="btn btn-secondary">Retour à la liste des leçons</a>
        </div>

    </div>

    <script>
        document.getElementById('add-content').addEventListener('click', function() {
            let collectionHolder = document.querySelector('#lesson_contents');
            let newIndex = collectionHolder.children.length;
            let newForm = collectionHolder.dataset.prototype.replace(/__name__/g, newIndex);

            // Convertir la chaîne HTML en un élément DOM
            let parser = new DOMParser();
            let doc = parser.parseFromString(newForm, 'text/html');
            let newTextArea = doc.querySelector('textarea');

            // Appliquer les classes de Bootstrap et personnaliser la taille
            if (newTextArea) {
                newTextArea.classList.add('form-control', 'form-control-lg');
                newTextArea.style.height = '200px';
            }

            // Insérer l'élément dans le DOM
            collectionHolder.insertAdjacentHTML('beforeend', doc.body.innerHTML);
        });
    </script>
{% endblock %}
